/*Variaveis*/
:root {
    --bg-color: rgb(211, 211, 211);
    --text-color: #333;
    --bar-color: #333;
    --form-bg: #ffffff;
    --form-btn-text: #ffffff;
    --form-btn: #000000;
    --form-text-color: #000000;
    --form-input-bg: transparent;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --close-btn-color: #aaa;
    --drag-post-it-border: #0000.2;
    --btn-bg-color: #ffff29;
}
/*Estilos Globais*/
body {
    background-color: var(--bg-color); 
    font-family: var(--font-family);
    margin: 18px;
    padding: 3px;
    transition: background-color 0.3s ease;
}
/*Introdução*/
.intro {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    color: var(--text-color);
    font-family: var(--font-family);
    transition: color 0.3s ease;
}
#button_table {
    margin: 10px;
    padding: 10px 20px;
    font-size: 17.5px;
    background-color: var(--form-bg);
    color: var(--form-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-family);
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
/*Formulários*/

#login-form_table,
#signup-form_table {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--form-bg);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: -2;
    font-family: var(--font-family);
    transition: background-color 0.3s ease;
    display: none;
}
#login-form_table.active,
#signup-form_table.active {
    z-index: 5;
    display: block;
}
label{
    color: var(--form-text-color);
}

#login-form_table input[type="text"],
#login-form_table input[type="password"],
#login-form_table input[type="email"],
#signup-form_table input[type="text"],
#signup-form_table input[type="password"],
#signup-form_table input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--bar-color);
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--form-text-color);
    background-color: var(--form-input-bg);
}
#form_table label {
    color: var(--form-text-color);
}
.password-box {
    position: relative;
}
.form-title {
    color: var(--text-color);
}
.eye-icon {
    position: absolute;
    right: 15px;
    top: 62%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: var(--text-color);
}
.form-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--form-btn);
    color: var(--form-btn-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: var(--font-family);
}
.form-link {
    display: block;
    text-align: center;
    padding: 2px;
    color: var(--form-btn-text);
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family);
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 18px;
    font-size: 28px;
    font-weight: bold;
    color: var(--close-btn-color);
    cursor: pointer;
}
/*Configurações*/ 

.hamburger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    z-index: 1001;
    font-size: 19.5px;
}
.config-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 

}
.settings-panel {
    background-color: var(--form-bg);
    color: var(--text-color);
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    top: 12%;
    right: 1%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.95);
    display: none;
    z-index: -5; 
}
.settings-panel.active {
    display: block;
    transform: scale(1);
    z-index: 20; 
}
.setting-option {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setting-option label {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--font-family);
    transition: color 0.3s ease;
}
.contact {
    text-align: justify;
}
.references{
    position: absolute;
    width: 10%;
    height: 10%;
}
.setting_link {
    padding: 7%;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-family);
}

.setting_info {
    color: var(--text-color);
}

#about-me {
    background-size: contain;
    background-color: var(--bg-color);
    border-radius: 13%;
}

/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 12px;
}
.slider.round:before {
    border-radius: 50%;
}

/*Post-it*/
.add_post-it {
    top: 10%;
    left: 2%;
    width: 25%;
    height: 15%;
    font-family: var(--font-family);
    
}
.add_btn {
    border: none;
    padding: 3%;
    background-color: var(--btn-bg-color);
    font-size: 108%;
    cursor: pointer;
}

#notes-conteiner {
    position: relative;
    min-height: 500px;
    width: 100%;
}

.post-it {
    position: absolute;
    min-width: 250px;
    min-height: 150px;
    padding: 10px;
    box-shadow: 1px 1px 8px var(--drag-post-it-border);
    cursor: move;
    transition: box-shadow 0.2s;
    font-family: var(--font-family);
    box-sizing: border-box;
}

.post-it:hover {
    box-shadow: 3px 3px 13px var(--drag-post-it-border);
}

.note-content {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.delete-note-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-weight: bold;
    color: var(--text-color);
}

.note-color-picker {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;

    appearance: none;
}

.note-color-picker :-webkit-color-swatch-wrapper {
    padding: 0;
}

.note-color-picker :-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}


/*Salvar grupo*/
.save_button {
    border: none;
    padding: 0.9% 0.6%;
    background-color: var(--btn-bg-color);
    font-size: 108%;
    cursor: pointer;
    margin: 2px;
}
.modal {
    background-color: var(--form-bg);
    color: var(--form-text-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--drag-post-it-border);
    width: 300px;
    position: fixed;
    top: 5%;
    right: 1%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(0.95);
    display: none;
    opacity: 0;
    z-index: -5; 
}
.modal:active {
    display: block;
    opacity: 1;
    transform: scale(1);
    z-index: 8;
}
/*Modo escuro*/

body.dark-mode {
    --bg-color: #121212;
    --text-color: #bbbbbb;
    --bar-color: #7700ff;
    --form-bg: #222222;
    --form-btn: #ffffff;
    --form-btn-text: #000000;
    --form_btn_color: #ffffff;
    --close-btn-color: #888;
    --form-text-color: #ffffff;
    --form-input-bg: transparent;
    --drag-post-it-border: #777778;
}
